@import "./glb-elementui";

.mgb-0 {
  margin-bottom: 0 !important;
}
.mgb-10 {
  margin-bottom: 10px !important;
}
.mgl-0 {
  margin-left: 0 !important;
}
.mgl-10 {
  margin-left: 10px !important;
}
.mgt-0 {
  margin-top: 0 !important;
}
.mgt-10 {
  margin-top: 10px !important;
}
.mgr-0 {
  margin-right: 0 !important;
}
.mgr-10 {
  margin-right: 10px !important;
}
.hg-100-percent {
  height: 100%;
  box-sizing: border-box;
  .el-card__body {
    height: 100%;
    box-sizing: border-box;
  }
}
.text_box {
  width: 100%;
  height: 30px;
  line-height: 30px !important;
  font-size: 16px;
  font-weight: 600;
  span {
    color: var(--mainThemeColor);
  }
  .el-button {
    span {
      color: #ffffff;
    }
  }
}
.text_box_line {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #7f7f7f;
}
/*出现滚动条*/
.overflow-scroll {
  overflow: scroll;
}
.overflow-scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
}
.overflow-scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px; /*滚动条宽度*/
  height: 8px; /*滚动条高度*/
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  width: 6px;
  border-radius: 10px; /*滚动条的背景区域的圆角*/
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 4px; /*滚动条的圆角*/
  background-color: var(--secondThemeColor);
}

//表格排序样式
.sortable-ghost {
  opacity: 0.8;
  color: #fff !important;
  background: #42b983 !important;
}
